body {
    background-color: #eee;
}
/*.content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width:100%;*/
/*    height:100%;*/
/*}*/

/* Load Screen */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 3s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
/*Load Screen ends */

.htmlCard{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    overflow: auto;
}

.column1{
/*position: sticky;*/
/*    top: 0;*/
/*    align-self: flex-start;*/
}

.column2 {
    /*border-left: 3px solid lightgrey;*/
    /*align-content: end;*/
}

.addMovieTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid red;
}

.selectMovieTitle {
    margin-bottom: 0.5em;
    margin-top: 1em;
    border-bottom: 2px solid red;
}

.movieListTitle {
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid red;
}

.dlt-button{
    color: white;
    background-color: #0d6efd;
}

